container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_collectstatic:
     command: "source /opt/python/run/venv/bin/activate && python proxime/manage.py collectstatic --noinput"
  03_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python proxime/manage.py makemigrations --noinput"
    leader_only: true
  04_migrate:
    command: "source /opt/python/run/venv/bin/activate && python proxime/manage.py migrate --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "proxime.settings"
    "PYTHONPATH": "/opt/python/current/app/proxime:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: proxime/proxime/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"